@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*----------------------------*/
body {
  font-family: 'Roboto', sans-serif;
}

[class*="__container"] {
  max-width: 1298px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 118px;
}

.header__logo {
  margin: 0 41.5px 0 0;
}

.header__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cart {
  font-size: 18px;
  line-height: 126%;
  color: #211F54;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  margin: 0 24px 0 0;
}

.header__cart:hover {
  color: #0d04ff;
}

.header__btn {
  font-size: 16px;
  line-height: 112%;
  color: #fff;
  background-color: #0075FF;
  border-radius: 14px;
  padding: 18px 30px;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.header__btn:hover {
  background-color: #0d04ff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 987px) {
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu__item {
  margin: 0 22px 0 0;
}

.menu__link {
  font-size: 18px;
  line-height: 167%;
  color: #211F54;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.menu__link:hover {
  color: #0d04ff;
}

.offer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__body {
  max-width: 570px;
  margin: 227px 0 140px 0;
}

.offer__title {
  font-weight: 700;
  font-size: 68px;
  line-height: 109%;
  color: #211F54;
  margin: 0 0 22px 0;
}

.offer__text {
  font-size: 21px;
  line-height: 143%;
  color: #6E7191;
  margin: 0 0 60px 0;
}

.offer__call-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #fff;
  background-color: #0075FF;
  border-radius: 14px;
  padding: 26px 42px;
  margin: 0 28px 0 0;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.offer__btn:hover {
  background-color: #0d04ff;
}

.back-call__phone {
  margin: 0 16px 0 0;
}

.back-call__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back-call__title {
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #6E7191;
  margin: 0 0 4px 0;
}

.back-call__number {
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  color: #211F54;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.back-call__number:hover {
  color: #0d07c8;
}

.offer__image {
  position: relative;
}

.offer__image img {
  position: absolute;
  width: 720px;
  height: 734px;
  top: 0;
  right: -750px;
}

.stages {
  padding: 180px 0;
}

.stages__text-block {
  margin: 0 0 60px 0;
  text-align: center;
}

.stages__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 -20px 83px -20px;
}

.stages__column {
  padding: 0 20px;
}

.stages__icon {
  text-align: center;
  margin: 0 0 40px 0;
}

.stages__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 129%;
  color: #211F54;
  text-align: center;
  margin: 0 0 16px 0;
}

.stages__text {
  font-size: 21px;
  line-height: 143%;
  text-align: center;
  color: #6E7191;
}

.stages__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stages__btn_blue {
  margin: 0 105px 0 0;
  background: #0075FF;
  color: #fff;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.stages__btn_blue span {
  font-weight: 700;
}

.stages__btn_blue:hover {
  background-color: #0d04ff;
}

.stages__btn_border {
  color: #211F54;
  font-weight: 400;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 14px;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.stages__btn_border:hover {
  background-color: #0075FF;
  -webkit-box-shadow: 5px 5px 15px rgba(11, 190, 230, 0.9);
          box-shadow: 5px 5px 15px rgba(11, 190, 230, 0.9);
  color: #fff;
}

.block-text__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #211F54;
  margin: 0 0 21px 0;
}

.block-text__subtitle {
  font-size: 21px;
  line-height: 143%;
  color: #6E7191;
}

.btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  padding: 26px 42px;
  border-radius: 14px;
}

.wash {
  padding: 0 0 180px 0;
}

.wash__text-block {
  text-align: center;
  margin: 0 0 32px 0;
}

.wash-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 -50px 60px -50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wash-plus__column {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wash-plus__img {
  margin: 0 16px 0 0;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(20, 20, 43, 0.04));
          filter: drop-shadow(0px 4px 10px rgba(20, 20, 43, 0.04));
}

.wash-plus__title {
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #6E7191;
}

.wash-plus__subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  color: #211F54;
}

.wash-plus__bac-image {
  text-align: center;
  position: relative;
}

.wash-plus__play {
  position: absolute;
  width: 198px;
  height: 198px;
  top: 186px;
  left: 536px;
}

.various {
  padding: 0 0 180px 0;
}

.various__top {
  margin: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.various__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #211F54;
}

.various__btn {
  font-size: 18px;
  line-height: 111%;
  color: #211F54;
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 14px;
  -webkit-transition: ease-in 0.6s;
  transition: ease-in 0.6s;
}

.various__btn:hover {
  background-color: #0075FF;
  -webkit-box-shadow: 5px 5px 15px rgba(11, 190, 230, 0.9);
          box-shadow: 5px 5px 15px rgba(11, 190, 230, 0.9);
  color: #fff;
}

.various__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.various__column {
  max-width: 420px;
  padding: 0 14px;
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;
}

.various__image {
  text-align: center;
  padding: 49px 84px 24px 84px;
}

.various__image img {
  text-align: center;
  min-height: 100%;
}

.various__label {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 142%;
  color: #211F54;
}

.various__label:not(:last-child) {
  margin: 0 0 13px 0;
}

.various__text {
  margin: 0 38px 29px 38px;
  text-align: center;
  font-size: 21px;
  line-height: 143%;
  color: #6E7191;
  max-width: 312px;
}

.sanitization {
  height: 676px;
  margin: 0 0 180px 0;
}

.sanitization__container {
  background-color: #211F54;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sanitization__body {
  padding: 137px 73px 137px 73px;
  color: #fff;
}

.sanitization__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.sanitization__label:not(:last-child) {
  margin: 0 0 17px 0;
}

.sanitization__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
}

.sanitization__title:not(:last-child) {
  margin: 0 0 18px 0;
}

.sanitization__text {
  font-size: 21px;
  line-height: 143%;
}

.sanitization__text:not(:last-child) {
  margin: 0 0 12px 0;
}

.sanitization__call-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sanitization__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #FFFFFF;
  padding: 26px 38px;
  background: #0075FF;
  border-radius: 14px;
  margin: 0 28px 0 0;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.sanitization__btn:hover {
  background-color: #0d04ff;
}

.back-call__title_white {
  color: #FFFFFF;
}

.back-call__number_white {
  color: #FFFFFF;
}

.true__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.true__image {
  margin: 0 70px 0 0;
}

.true__text-block {
  margin: 0 0 26px 0;
}

.true__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 74px 0;
}

.true__column {
  margin: 0 56px 0 0;
}

.true__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.true__block:not(:last-child) {
  margin: 0 0 24px 0;
}

.true__icon {
  margin: 0 8px 0 0;
}

.true__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #211F54;
}

.true__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #FFFFFF;
  padding: 26px 38px;
  background: #0075FF;
  border-radius: 14px;
  margin: 0 28px 0 0;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.true__btn:hover {
  background-color: #0d04ff;
}

.different {
  padding: 200px 0;
}

.different__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.different__body {
  margin: 0 38px 0 0;
}

.different__text-block {
  margin: 0 0 15px 0;
}

.different__mini-subtitle {
  font-size: 12px;
  line-height: 250%;
  color: #6E7191;
  margin: 0 0 26px 0;
}

.different__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 74px 0;
}

.different__block:not(:last-child) {
  margin: 0 50px 0 0;
}

.different__value {
  font-size: 54px;
  font-weight: 700;
  line-height: 122%;
  color: #211F54;
  margin: 0 0 3px 0;
}

.different__value span {
  color: #0075FF;
}

.different__year {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #6E7191;
}

.different__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #FFFFFF;
  padding: 26px 38px;
  background: #0075FF;
  border-radius: 14px;
  margin: 0 28px 0 0;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.different__btn:hover {
  background-color: #0d04ff;
}

.different__image {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 40px;
  left: 700px;
}

.article {
  padding: 0 0 464px 0;
}

.article__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__text-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 3px 0;
}

.article__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.article__btn_blue {
  margin: 0 -35px 0 0;
  color: #fff;
  font-weight: 700;
  background-color: #0075FF;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.article__btn_blue:hover {
  background-color: #0d04ff;
}

.article__btn_border {
  color: #211F54;
  font-weight: 700;
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 14px;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.article__btn_border:hover {
  background-color: #0075FF;
  -webkit-box-shadow: 5px 5px 15px rgba(11, 190, 230, 0.9);
          box-shadow: 5px 5px 15px rgba(11, 190, 230, 0.9);
  color: #fff;
}

.article__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.article__column {
  position: relative;
  padding: 0 15px;
}

.article__item {
  position: absolute;
  top: 306px;
  left: 40px;
  background: #FFFFFF;
  max-width: 550px;
  border: 1px solid #EFF0F6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 24px;
}

.article__label {
  padding: 52px 73px 0 49px;
  font-weight: 700;
  font-size: 24px;
  line-height: 142%;
  color: #211F54;
}

.article__label:not(:last-child) {
  margin: 0 0 17px 0;
}

.article__description {
  padding: 0px 53px 0 49px;
  font-size: 21px;
  line-height: 143%;
  color: #6E7191;
}

.article__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 49px 49px 49px;
}

.article__date {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #211F54;
}

.article__decor {
  height: 50px;
  width: 50px;
  background-color: #0075FF;
}

.request {
  background-color: #F7F9FC;
  padding: 240px 0;
}

.request__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.request__text-block {
  margin: 0 0 12px 0;
}

.request__call-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 108px 0;
}

.request__label {
  font-size: 28px;
  font-weight: 700;
  line-height: 129%;
  color: #211F54;
  margin: 0 0 9px 0;
}

.request__description {
  font-size: 21px;
  line-height: 143%;
  color: #6E7191;
  margin: 0 0 42px 0;
}

.request__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #211F54;
  padding: 27px 39px;
  background-color: #fff;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 14px;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.request__btn:hover {
  background-color: #0075FF;
  -webkit-box-shadow: 5px 5px 15px rgba(11, 190, 230, 0.9);
          box-shadow: 5px 5px 15px rgba(11, 190, 230, 0.9);
  color: #fff;
}

.request .request__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.request .request__form {
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;
}

.request .request__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 85px 8px 32px 42px;
}

.request .request__row input {
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
          box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
  border-radius: 16px;
  width: 260px;
  height: 72px;
}

.request .request__row input:not(:last-child) {
  margin: 0 32px 32px 0;
}

.request .request__name-input {
  font-size: 18px;
  line-height: 167%;
  color: #211F54;
}

.request .request__name1-input {
  font-size: 18px;
  line-height: 167%;
  color: #211F54;
  padding: 0 62px 12px 42px;
}

.request .request__textarea {
  background: #FFFFFF;
  padding: 15px;
  margin: 0 0 0 42px;
  height: 141px;
  width: 551px;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 7px rgba(20, 20, 43, 0.08);
          box-shadow: 0px 2px 7px rgba(20, 20, 43, 0.08);
  border-radius: 22px;
}

.request .request__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #fff;
  background-color: #0075FF;
  border-radius: 14px;
  padding: 26px 42px;
  margin: 60px 0 110px 42px;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.request .request__button:hover {
  background-color: #0d04ff;
}

.footer {
  padding: 156px 0 30px 0;
}

.footer__columns {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin: 0 -20px;
}

.footer__column {
  padding: 0 20px;
}

.footer__title_big {
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  color: #211F54;
  margin: 0 0 7px 0;
}

.footer__title_midle {
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  color: #211F54;
  margin: 0 0 30px 0;
}

.footer__title_small {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #211F54;
}

.footer__text {
  font-size: 18px;
  line-height: 167%;
  color: #6E7191;
}

.footer__text:not(:last-child) {
  margin: 0 0 38px 0;
}

.footer__decor {
  margin: 20px 0 0 0;
}

.footer__decor img {
  margin: 0 12px 0 0;
}

.footer__nubmer {
  font-weight: 700;
  font-size: 28px;
  line-height: 200%;
  color: #0075FF;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.footer__nubmer:hover {
  color: #0d04ff;
}

.footer__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #FFFFFF;
  background-color: #0075FF;
  border-radius: 14px;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.footer__btn a {
  margin: 30px 0 0;
}

.footer__btn:hover {
  background-color: #0d04ff;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 160px 0 0 0;
}

.footer__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__copyright {
  font-size: 18px;
  line-height: 167%;
  color: #6E7191;
}

.footer__copyright a {
  color: #0075FF;
}
